@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

body {
  font-size: 100%;
  font-family: 'Noto Kufi Arabic', sans-serif;
}

.timer-container {
  background-image: url('./wedding.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;

}

.timer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
}

.timer div:first-child {
  text-align: center;
}

.timer-icon {
  font-size: 20em;
}

h2 {
  font-size: 600;
  margin-bottom: 0.5em;
}

.timer div:first-child p {
  color: #f8f8f8;
}

.timer div:last-child {
  border: 1px solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;
}

section p:first-child,
.timer div:last-child span {
  font-size: 3em;
}

/* 

*/
.carousel-container {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {

  width: 40em;
  margin: 0 auto;

}

.carousel img {
  width: 40em;
  height: 40em;
}

.calendar-container {
  text-align: center;
}


@media screen and (max-width:480px) {
  .timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;

  }

}